[TYPECHECK]
# Treat pygame as generated so Pylint doesn't raise spurious no-member errors
generated-members=pygame.*

[FORMAT]
max-line-length=127

[MESSAGES CONTROL]
disable=
    fixme,
    too-many-lines,
    too-many-arguments,
    too-many-branches,
    too-many-statements,
    too-many-instance-attributes,
    too-many-locals,
    duplicate-code
